.Footer {
  position: sticky;
  top: 100%;
  background: var(--footer-bg-color);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer > h4 {
  font-weight: 500;
  color: var(--footer-color);
}
