* {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, sans-serif;
  --theme-color: #fff7ed;
  --interact-color: #ff8c38;
  --interact-active-color: #ffac71;
  --footer-bg-color: #252525;
  --footer-color: #aaaaaa;
  --light-highlight-color: #ffead0;
}

body {
  background: var(--theme-color);
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.NavBar {
  display: flex;
  position: sticky;
  bottom: 0;
  justify-content: space-between;
  padding: 2em 1.5em;
  background: var(--theme-color);
}

.NavBar--title {
  font-size: 1.6em;
  font-weight: 900;
  text-decoration: none;
  color: black;
}

.NavBar--links {
  display: flex;
  align-items: center;
  gap: 2em;
}

.NavBar--links > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  position: relative;
}

.NavBar--links > a::after {
  position: absolute;
  content: '';
  bottom: -0.4em;
  height: 0.2em;
  width: 100%;
  left: 0;
  background: black;
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
}

.NavBar--links > a:hover::after {
  transform: scaleX(1);
}

a.current--page::after {
  position: absolute;
  content: '';
  bottom: -0.4em;
  height: 0.2em;
  width: 100%;
  left: 0;
  background: black;
  transform: scaleX(1);
}

.Footer {
  position: sticky;
  top: 100%;
  background: var(--footer-bg-color);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer > h4 {
  font-weight: 500;
  color: var(--footer-color);
}

.Home {
  background: linear-gradient(rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%), url('/images/home.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 48em;
  padding: 4em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.Home--content {
  width: 32em;
}

.Home--content > h3 {
  font-size: 2em;
  font-weight: 800;
  margin: 1.2em 0;
}

.Home--content > p {
  font-weight: 500;
}

.Home--btn {
  border: none;
  background: var(--interact-color);
  width: 100%;
  height: 3em;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 700;
  margin: 3em 0;
  transition: all 0.2s;
  cursor: pointer;
}

.Home--btn:hover {
  background: var(--interact-active-color);
}

.Home--btn:active {
  background: var(--interact-color);
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About--header {
  object-fit: cover;
  max-width: 100%;
  max-height: 30em;
}

.About--content {
  margin: 3em;
  max-width: 46em;
  display: grid;
  gap: 2em;
}

.About--content > h3 {
  font-size: 2em;
}

.About--content > p {
  font-weight: 500;
}

.About--explore {
  max-width: 46em;
  background: #ffcc8d;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 5px;
}

.About--explore > h4 {
  font-size: 24px;
}

.About--btn {
  border: none;
  width: 12em;
  height: 3.4em;
  background: black;
  color: white;
  border-radius: 1em;
  font-weight: 700;
  font-size: 1em;
  transition: all 0.2s;
  cursor: pointer;
}

.About--btn:hover {
  background: #363636;
}

.About--btn:active {
  background: black;
}

.Vans {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  gap: 1em;
}

.Vans > h2 {
  font-size: 32px;
}

.Vans--filter {
  display: flex;
  gap: 1em;
}

.Vans--filter > * {
  width: 7em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 1em;
  background: transparent;
}

.Vans--filter .filter {
  background: var(--light-highlight-color);
  border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: all 0.2s;
}

.filter.simple:hover,
.simple.selected {
  background: #e17654;
  color: white;
}

.filter.luxury:hover,
.luxury.selected {
  background: #161616;
  color: white;
}

.filter.rugged:hover,
.rugged.selected {
  background: #115e59;
  color: white;
}

.Vans--filter {
  color: #4d4d4d;
}

.Vans--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  justify-content: space-around;
  gap: 0.5em;
}

.Van {
  width: 14em;
  border-radius: 5px;
  transition: all 0.2s;
  padding: 0.5em;
  text-decoration: none;
}

.Van:hover {
  scale: 1.03;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.Van--img {
  width: 100%;
  border-radius: 5px;
}

.Van--info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  color: black;
}

.Van--price > p {
  text-align: end;
  font-size: 0.75em;
  font-weight: 500;
}

.type {
  color: white;
  width: 5.4em;
  height: 2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple {
  background: #e17654;
}

.rugged {
  background: #115e59;
}

.luxury {
  background: #161616;
}

.VansDetail {
  width: 100dvw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
  gap: 2em;
}

.VansDetail > a {
  width: 100%;
}

.Detail--content {
  display: grid;
  gap: 2em;
}

.Detail--image {
  width: 100%;
  border-radius: 5px;
}

.Detail--title {
  font-size: 2em;
  font-weight: 700;
}

.Detail--price {
  font-size: 1.5em;
  font-weight: 700;
}

.Detail--price > span {
  font-size: 0.9em;
  font-weight: 500;
}

.Detail--description {
  font-weight: 500;
}

.Detail--btn {
  border: none;
  background: var(--interact-color);
  width: 100%;
  height: 3em;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 700;
  transition: all 0.2s;
}

.Detail--btn:hover {
  background: var(--interact-active-color);
}

.Detail--btn:active {
  background: var(--interact-color);
}

.HostNavBar {
  padding: 2em;
}

.Dashboard--income {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3em;
  background: var(--light-highlight-color);
}

.Dashboard--income > * {
  align-self: center;
  grid-column: 1;
}

.Dashboard--income > a {
  grid-column: 2;
  grid-row: 2;
}

.Dashboard--link {
  color: black;
  text-decoration: none;
  text-align: right;
  font-weight: 500;
  border-radius: 5px;
  width: fit-content;
  justify-self: end;
  padding: 0.5em 1em;
  transition: all 0.3s;
}

.Dashboard--link:hover {
  background: black;
  color: white;
}

.Dashboard--income > h2 {
  font-size: 2em;
}

.Dashboard--income > h1 {
  font-size: 3em;
  font-weight: 800;
}

.Dashboard--period {
  color: #4d4d4d;
}

.Dashboard--period > b {
  text-decoration: underline;
}

.Dashboard--reviews {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center;
  padding: 2em 3em;
  background: #ffddb2;
}

.Dashboard--reviews--rating {
  display: flex;
  gap: 0.2em;
  margin-inline: 1em;
  font-size: 1.2em;
}

.Dashboard--vans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 3em;
}

.Dashboard--vans > h4 {
  font-size: 1.5em;
}

.Dashboard--vans * {
  height: fit-content;
}

.Dashboard--vans--container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Dashboard--van {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  padding: 1.2em;
  gap: 1em;
  background: white;
  border-radius: 6px;
}

.Dashboard--van > * {
  align-self: center;
}

.Dashboard--van > img {
  width: 4.2em;
  border-radius: 5px;
}

.Dashboard--van > div {
  display: grid;
  gap: 0.2em;
}

.Income {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2em;
}

.Income p {
  font-weight: 500;
  color: #4d4d4d;
}
.Income span {
  font-weight: 700;
  text-decoration: underline;
}

.Income--data {
  display: grid;
  gap: 2em;
}

.Income--data > h2 {
  font-size: 2em;
}

.Income--data h1 {
  font-size: 3em;
  font-weight: 800;
}

.Income img {
  width: 100%;
  max-width: 600px;
}

.Income--transactions {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
  height: fit-content;
}

.Income--transactions--container {
  grid-column: -1 / 1;
  display: grid;
  gap: 1em;
}

.Income--transactions--container div {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  border-radius: 6px;
  height: 6em;
}

.Reviews {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 2em 5em;
}

.Reviews p {
  font-weight: 500;
}

.Reviews--data {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2em;
}

.Reviews--data h2 {
  font-size: 2em;
}

.Reviews--data > p {
  height: fit-content;
  align-self: center;
  color: #4d4d4d;
}

.Reviews--data > p span {
  text-decoration: underline;
  font-weight: 700;
}

.Reviews--data > img {
  grid-column: 1 / -1;
  max-width: 600px;
  width: 100%;
}

.Reviews--comments--container {
  display: grid;
  gap: 1.5em;
}

.Reviews--comments {
  display: grid;
  gap: 1em;
}

.Reviews--comments div {
  display: flex;
  gap: 0.2em;
}

.Reviews--comments span {
  color: #8c8c8c;
}

.HostVans {
  padding: 2em;
  display: grid;
  gap: 2em;
}

.HostVans > h2 {
  font-size: 2em;
}

.HostVans--van {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}

.HostVans--van:hover {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  scale: 1.02;
}

.VansLayout {
  padding: 2em;
  display: grid;
  gap: 2em;
}

.VansLayout--content {
  background: white;
  padding: 1.5em;
  border-radius: 6px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5em;
}

.VansLayout--content .NavBar--links {
  grid-column: 1 / -1;
  margin: 0.5em 0;
}

.VansLayout--image {
  width: 10em;
  border-radius: 5px;
}

.VansLayout--vanData {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.VansLayout--vanData h2 {
  margin: 0.5em 0 0.2em;
}

.VansLayout--vanData p {
  font-size: 1.2em;
}

.VansLayout--vanData p span {
  font-size: 0.85em;
}

.Details {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Details p {
  font-size: 0.9em;
  font-weight: 700;
  line-height: 1.5;
}

.Details span {
  font-weight: 500;
}

.Pricing {
  font-size: 1.5em;
  font-weight: 500;
}

.Pricing span {
  font-size: 0.8em;
}

.Photos {
  width: 6.4em;
  border-radius: 5px;
}

.NotFound {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: auto;
}

.NotFound a {
  border: none;
  background: black;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.NotFound a:hover {
  background: #363636;
}

.Login {
  display: grid;
  margin: auto;
  gap: 2em;
  width: 500px;
  place-items: center;
}

.Login form {
  display: grid;
  width: 100%;
}

.Login input {
  height: 2.8em;
  border: 1px solid #D1D5DB;
  text-indent: 2%;
  font-size: 1em;
}

.Login .email {
  border-radius: 5px 5px 0 0;
}

.Login .password {
  border-radius: 0 0 5px 5px;
}

.Login button {
  margin: 1.6em 0;
  height: 3em;
  font-size: 1em;
  font-weight: 700;
  color: white;
  border: none;
  background: var(--interact-color);
  border-radius: 5px;
  cursor: pointer;
}

.Login button:hover {
  background: var(--interact-active-color);
}

.Login button:active {
  background: var(--interact-color);
}

.Login p {
  font-weight: 500;
}

.Login a {
  font-weight: 700;
  color: var(--interact-color);
  text-decoration: none;
}

.Login a:hover {
  text-decoration: underline;
}
